*{
  /*outline: 1px red solid;*/
}
#root {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  min-height: 100vh;
}

  /*SEARCH BAR*/
.Search-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 50px 0;

  font-size: calc(10px + 2vmin);
  color: white;
}

.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 50px;
  border-radius: 5px;
  padding: 5px 0;

  /*background-color: #4a4c53;*/
}

.searchText {
  width: 300px;
  height: 35px;
  margin: 0 15px;
  padding: 0 20px;
  border-radius: 25px;

  outline: none;
  border: none;
  box-shadow: #4a4c53 0 0 5px 0.5px;
  opacity: 0.7;
}

.searchSubmit {
  position: relative;
  right: 65px;
  height: 35px;
  margin: 0 15px;
  padding: 0 8px;
  border-radius: 5px;

  outline: none;
  border: none;
  background-color: transparent;
}

  /*MAIN*/

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  margin: 35px 20px;


  color: #4a4c53;
}

.recipeTitle {
  padding: 0px 0;
  text-align: center;
}

.recipeCalories {
  padding: 20px 0;
  font-size: 0.9rem;
  color: black;
}

.recipeimage {
  width: 230px;
  min-height: 230px;
  border-radius: 25px;
  background-size: contain;

  box-shadow: #4a4c53 0 0 6px 1px;
}


/* Ingredients :*/

.ingridients {
  position: absolute;
  visibility: hidden;
  width: 220px;
  padding: 0 0;
  border-radius: 25px;

  background-color: #707275;
  color: white;
  list-style: none;

  /*transition: 1000ms all ease;*/
  z-index: +3;
}

.ingridient {
  padding: 2px 5px;
  text-align: center;

 /* transition: 1000ms all ease;*/
}

.ingridient:hover {
  color: black;
  cursor: pointer;
}