*{
  /*outline: 1px red solid;*/
}
#root {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  /*background-color: white;*/
  min-height: 100vh;
}

  /*SEARCH BAR*/
.Search-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 50px 0;

  font-size: calc(10px + 2vmin);
  color: white;
}

.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 50px;
  border-radius: 5px;
  padding: 5px 0;

  /*background-color: #4a4c53;*/
}

.searchText {
  width: 300px;
  height: 35px;
  margin: 0 15px;
  padding: 0 20px;
  border-radius: 25px;

  outline: none;
  border: none;
  box-shadow: #4a4c53 0 0 5px 0.5px;
}

.searchText:placeholder-shown {
  color: #4a4c53;
}

.searchSubmit {
  position: relative;
  right: 65px;
  height: 35px;
  margin: 0 15px;
  padding: 0 8px;
  border-radius: 5px;

  outline: none;
  border: none;
  background-color: transparent;
}

  /*MAIN*/

  .recipes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*align-items: center;
    justify-content: center;*/

    /*background-color: #282c34;*/
  }
  .recipe {
    display: flex;
    flex-direction: column;
    /*align-items: center;
    justify-content: center;*/
    margin: 15px 15px;

    color: #4a4c53;
  }